@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

#prod {
    height: 100vh;
    width: 100vw;
    margin: 0;

    font-family: "Cedarville Cursive", cursive;
    color: #000000; /*Couleur de la police (enlever ce commentaire)*/
    font-size: 40vh;
    line-height: 50vh;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #444444; /*Couleur de l'arrière plan (enlever ce commentaire)*/
}

#song {
    padding: 2px;
    margin: 2px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    height: calc(100vh - 8px);
    width: calc(100vw - 8px);
}

.album-container {
    padding: 2px;
    margin: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.album {
    padding: 2px;
    margin: 2px;

    height: calc(100vh - 20px);
}

.info-container {
    padding: 2px;
    margin: 2px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    white-space: nowrap;
    overflow: hidden;
}

.scroll-container {
    padding: 2px;
    margin: 2px;

    display: flex;
    flex-direction: row;

    text-shadow:
        0 0 2vh #ffffff, /*Couleur du halo (enlever ce commentaire)*/
        0 0 3vh #ffffff, /*Couleur du halo (enlever ce commentaire)*/
        0 0 7vh #ffffff; /*Couleur du halo (enlever ce commentaire)*/

    animation: scroll 10s infinite alternate;
}

.name-container {
    padding: 2px;
    margin: 2px;
}

.name {
    padding: 2px;
    margin: 2px;
}

.separator-container {
    padding: 2px 20vh 2px 20vh;
    margin: 2px;
}

.separator {
    padding: 2px;
    margin: 2px;
}

.artists-container {
    padding: 2px;
    margin: 2px;
}

.artists {
    padding: 2px;
    margin: 2px;
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(0, 0);
    }

    90% {
        transform: translate(min(0px, calc(-100% + calc(100vw - calc(100vh + 20px)))), 0);
    }

    100% {
        transform: translate(min(0px, calc(-100% + calc(100vw - calc(100vh + 20px)))), 0);
    }
}
