@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

#prod {
    height: 100vh;
    width: 100vw;
    margin: 0;

    font-family: "Titillium Web", sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 44vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0);
}

#song {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: calc(100vw - 8px);
}

.album-container {
    padding: 2px;
    margin: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.album {
    padding: 2px;
    margin: 2px;

    height: calc(100vh - 16px);
}

.info-container {
    padding: 2px;
    margin: 2px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    white-space: nowrap;
    overflow: hidden;
}

.scroll-container {
    display: flex;
    flex-direction: row;

    animation: scroll 10s infinite alternate;
}

.name-container {
    padding: 2px;
    margin: 2px;
}

.name {
    padding: 2px;
    margin: 2px;
}

.separator-container {
    padding: 2px;
    margin: 2px;
}

.separator {
    padding: 2px;
    margin: 2px;
}

.artists-container {
    padding: 2px;
    margin: 2px;
}

.artists {
    padding: 2px;
    margin: 2px;
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(0, 0);
    }

    90% {
        transform: translate(min(0px, calc(-100% + calc(100vw - calc(100vh + 16px)))), 0);
    }

    100% {
        transform: translate(min(0px, calc(-100% + calc(100vw - calc(100vh + 16px)))), 0);
    }
}
