@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

#prod {
    height: 100vh;
    width: 100vw;
    margin: 0;

    font-family: "Jua", sans-serif;
    color: #ff7338;
    font-size: 20vh;
    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0);
}

#song {
    padding: 2px;
    margin: 2px;
    border: 2vh #DCCD86 solid;
    border-radius: 5vh;
    background-color: #FAF4DA;

    display: flex;
    justify-content: left;
    align-items: center;

    height: 90vh;
    width: 96vw;
}

.album-container {
    padding: 20vh;
    margin: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.album {
    height: 30vh;
    content: url("https://sandbix.fr/spotifywidget/src/img/gomar_melade.png");
}

.info-container {
    padding: 2px;
    margin: 2px;

    display: flex;
    justify-content: left;
    align-items: center;

    white-space: nowrap;
    overflow: hidden;
}

.scroll-container {
    padding: 2px;
    margin: 2px;

    display: flex;
    flex-direction: column;
}

.name-container {
    padding: 2px;
    margin: 2px;

    display: flex;
}

.name {
    padding: 2px;
    margin: 2px;

    animation: scroll 10s infinite alternate;
}

.separator-container {
    display: none;
}

.separator {
}

.artists-container {
    padding: 2px;
    margin: 2px;

    display: flex;

    text-transform: uppercase;
    font-size: 12vh;
}

.artists {
    padding: 2px;
    margin: 2px;

    animation: scroll 10s infinite alternate;
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(0, 0);
    }

    90% {
        transform: translate(min(0px, calc(-100% + calc(100vw - 90vh))), 0);
    }

    100% {
        transform: translate(min(0px, calc(-100% + calc(100vw - 90vh))), 0);
    }
}
